## pojo类字段默认注释模版
/**
 * <p>字段描述：${columnRemark}</p>
 * <p>是否主键：#if($isPK)是#{else}否#end</p>
 * <p>是否自增：#if($isAutoIncrement)是#{else}否#end</p>
 * <p>是否可空：#if($isNull)是#{else}否#end</p>
 * <p>默认值：#if (!$defaultValue)无默认值#{else}${defaultValue}#end</p>
 */