## pojo类getter方法默认注释模版
/**
 * <p>描述：获取${columnRemark}</p>
 *
 * @param ${parameterName} ${columnRemark}#if($isPK) [主键]#elseif($isNull) [可空]#{else} [不可空]#end [默认值：#if(!$defaultValue)无默认值]#{else}${defaultValue}]#end
 */